<!DOCTYPE html>
<html lang="en">

<head>
    <title>Astralys</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" href="./images/logo_a.png"/>
    <link rel="shortcut icon" href="./images/logo_a.png"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c9e83cc1f.js" crossorigin="anonymous"></script>
</head>

<body class="bg">
    <nav class="navbar navbar-dark color-noir navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="/"><img src="./images/logo_a.png" alt="Logo de Astralys" class="logo-small"></a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/game" class="nav-link">Game</a>
                    </li>
                    <li class="nav-item"><a href="/leaderboard" class="nav-link">Leaderboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <div class="center"><img src="./images/logo.png" alt="Logo de Astralys" class="logo"></div>
            <br>
            <p>A docker project, the website of a video game, created by Vincent Darcemont for the Cloud Infrastructure project.<br>
The game is available directly on the site as well as the leaderboard but it can also be compiled in Linux.</p>
            <p>
            <br>
            <a class="button" href="/game" role="button">
                <i class="fas fa-gamepad"></i> Play the game</a>
                <a class="button" href="/leaderboard" role="button">
                    <i class="fas fa-trophy"></i> Leaderboard</a>
            </p>

            
        </div>
    </div>
</body>

</html>